<header>
  <div class="container">
    <a routerLink="/" class="logo">Se3316 Lab5 scolli89</a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/">Home</a></li>
        <li><a href="#" routerLink="/list">List</a></li>
        <li><a href="#" routerLink="/top-songs">Top Songs</a></li>
        <li><a href="#" routerLink="/searchsong">Search Songs</a></li>
        <li><a href="#" routerLink ="/spdmca">Security & Privacy Policy And DMCA Policy</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>