

<h1>Welcome! to Se3316 Lab5, The Song review site. </h1>
<p>This site offers users the chance to review popular songs.</p>

<div>
    <button id = "Login Button" (click) = "makeLogin(email,pword)">Login!</button> <br>
    <form>
        <input id = "email" type = email #email placeholder = "email" display = none (focusout) = "enterPE(email,pword)"> <br>
        <input id = "pword" type = password #pword placeholder = "password" display = none (focusout) = "enterPE(email,pword)"> <br>
    </form>
</div>

<div>
    <span>Enter Email</span>
    <input type="text" #emadil (focusout) = "focusOutHandler(emaidl)"/>
</div>





<div class="play-container">
    <p>You've clicked <span (click)="countClick()">this</span> {{ clickCounter }} times.</p>
</div>

<div class="play-container">
    <p>
        <input type="email"[(ngModel)]="name"><br>
        <strong>You said:</strong> {{ name }}
    </p>
</div>

<div class="play-container" [ngClass]="setClasses()">
    <ng-template [ngIf]="clickCounter > 4" [ngIfElse]= "none">
        <p>The click counter <strong> IS GREATER</strong> than 4.</p>
    </ng-template>

    <ng-template #none>
        <p>the click counter is <strong>not greater</strong> than 4. </p>
    </ng-template>
</div>
