

<h1>Welcome! to Se3316 Lab5, The Song review site. </h1>
<p>This site offers users the chance to review popular songs.</p>

<div>
    <button id = "Login Button" (click) = "makeLogin(email,pword,LHead,RHead,lbtn,rbtn,true)">Login!</button> 
    <button id ="regBtn"(click) = "makeLogin(email,pword,LHead,RHead,lbtn,rbtn,false)">Register!</button><br>
    <form>
        <h2 #LHead id = "LHead"> USER LOGIN</h2><br>
        <h2 #RHead id = "RHead"> USER REGISTER</h2><br>
        <input id = "email" type = email #email placeholder = "email"  > <br>
        <input id = "pword" type = password #pword placeholder = "password" > <br>
        <button id = "lbtn" #lbtn (click) = "loginRegister(email,pword,true)">Login</button>
        <button id = "rbtn" #rbtn (click)= "loginRegister(email,pword,false)">Register</button>
    </form>
</div>






<div class="play-container">
    <p>You've clicked <span (click)="countClick()">this</span> {{ clickCounter }} times.</p>
</div>

<div class="play-container">
    <p>
        <input type="email"[(ngModel)]="name"><br>
        <strong>You said:</strong> {{ name }}
    </p>
</div>

<div class="play-container" [ngClass]="setClasses()">
    <ng-template [ngIf]="clickCounter > 4" [ngIfElse]= "none">
        <p>The click counter <strong> IS GREATER</strong> than 4.</p>
    </ng-template>

    <ng-template #none>
        <p>the click counter is <strong>not greater</strong> than 4. </p>
    </ng-template>
</div>
